# This file is a template, and might need editing before it works on your project.
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Terraform.gitlab-ci.yml
image: docker:24.0.5
services:
  - docker:dind
  - hashicorp/terraform:latest

include:
  - template: Terraform/Base.gitlab-ci.yml  # https://gitlab.com/gitlab-org/gitlab/blob/master/lib/gitlab/ci/templates/Terraform/Base.gitlab-ci.yml
  - template: Jobs/SAST-IaC.gitlab-ci.yml   # https://gitlab.com/gitlab-org/gitlab/blob/master/lib/gitlab/ci/templates/Jobs/SAST-IaC.gitlab-ci.yml

stages:
  - validate
  - test
  - build
  - deploy
  - cleanup

fmt:
  extends: .terraform:fmt
  image: 
    name: hashicorp/terraform:latest
    entrypoint: [""]
  needs: []
  tags: [docker]

validate:
  extends: .terraform:validate
  image: 
    name: hashicorp/terraform:latest
    entrypoint: [""]
  needs: []
  tags: [docker]

build:
  extends: .terraform:build
  image: 
    name: hashicorp/terraform:latest
    entrypoint: [""]
  environment:
    name: $TF_STATE_NAME
    action: prepare
  tags: [docker]

deploy:
  extends: .terraform:deploy
  dependencies:
    - build
  environment:
    name: $TF_STATE_NAME
    action: start
